include LICENSE
include README.md
recursive-include trading *.py
recursive-include trading/templates/ *.j2 *.ipynb
include trading/exchange/binance_leverage_tiers.json
include trading/rpc/api_server/ui/fallback_file.html
include trading/rpc/api_server/ui/favicon.ico
